/*------Shared Css------*/

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-color: #000000;

}

body {
    margin: 0;
    font-family: "Inter", sans-serif;
}

h1,
h2,
h3 {
    margin: 0;
    padding: 0;
    line-height: 1;
}

.display_flex {
    display: flex;
}

.text_center {
    text-align: center;
}

.fonts_size {
    font-size: 14px;
}

.all_button {
    background: #E6533C;
    padding: 16px 40px;
    border-radius: 42px;
    color: #FFFFFF;
    font-size: 18px;
    border: none;
    font-weight: 600;
}

.all_paragraph {
    line-height: 24px;
    color: rgba(255, 255, 255, 0.5);
}


.tittle {
    color: rgba(255, 255, 255, 1);
    font-size: 3rem;
    font-weight: 900;
    line-height: 57.6px;

}

.third_part,
.bmi_calculator_part {
    background: rgba(34, 34, 34, 1);
}

/*------Regular Css------*/
.first_part {
    background: linear-gradient(180deg, rgba(17, 17, 17, 1) 100%, rgba(119, 119, 119, 0) 100%);


}

.navbar_part {
    max-width: 1060px;
    padding-top: 22px;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;

}

.navbar_part p {
    font-size: 2.2rem;
    font-style: italic;
    font-weight: 800;
    line-height: 2.8rem;
    text-align: left;
    color: rgba(230, 83, 60, 1);
}

.menu {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
}

.menu li {
    list-style: none;
    padding: 20px;
}

.menu li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    font-weight: 400;
    font-size: 16px;
    line-height: 15px;
}

#home {
    background-color: rgba(230, 83, 60, 1);
    border-radius: 36px;
    width: 82px;
    text-align: center;
    font-weight: 600;
}

.join_club_part {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    /* padding-left: 5%;
    padding-right: 5%; */
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;

}

.content_part {
    max-width: 100%;
    padding-right: 20px;
    box-sizing: border-box;

}

h1 {
    font-size: 5rem;
    font-weight: 900;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 30px;
}

.shape {
    font-size: 4rem;
    font-style: italic;
    font-weight: 400;
}

.download_button {
    padding: 16px 40px;
    border-radius: 42px;
    font-size: 1rem;
    background-color: rgba(17, 17, 17, 1);
    border: 1px solid rgba(255, 255, 255, 1);
    color: #FFFFFF;
    margin-left: 10px;
}


.image_container {
    position: relative;
    display: inline-block;
}

.background_image {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
}

.overlay {
    position: absolute;
    color: white;
    background-color: rgba(54, 54, 54, 0.9);
    border-radius: 10px;
    text-align: center;
    padding: 5px 23px;
    align-items: center;

}

.overlay-top-right {
    top: 20%;
    right: 5%;
}

.overlay-bottom-left {
    bottom: 12%;
    left: 5%;
}

.content_count {
    padding-left: 14px;
}

.content_count h3 {
    font-size: 24px;
    font-weight: 900;
    line-height: 40px;
    letter-spacing: 1px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    margin-bottom: -15px;
    margin-top: 8px;
}

.content_count p {
    margin-bottom: 6px;
    font-size: 14px;
}

.ball {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: rgba(230, 83, 60, 1);
    align-items: center;
}

/* ------First part end here ------ */

.second_part,
.gallery_section {
    margin: 7% 10% 7% 10%;
}

.tittle_part p {
    font-size: 14px;
    line-height: 24px;
}

.jogging_part {
    display: flex;
    /* grid-template-columns: 4fr; */
    margin-top: 3%;
    justify-content: center;
    align-items: center;
}

.jogging_images {
    border-radius: 50%;
    margin-bottom: 10%;
    border: 4px solid rgba(255, 255, 255, 0.1)
}

.topic {
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    font-weight: 600;
    line-height: 21.6px;

}

/* ------Second part end here ------ */

.third_part {
    margin: 0 10% 0 10%;
    display: flex;

    border-radius: 18px;
}

.run_content {
    margin: 4% 16% 4% 6%;
}

.run_content_button {
    margin-top: 6%;
    padding-left: 75px;
    padding-right: 75px;
}

.run_part {
    margin: 3% 3% 2% 3%;
}

.run_image {
    width: 366px;
    height: 312px;
    border-radius: 18px;
}

/* --------Third part end here------ */

.bmi_content_part {
    margin: 5% 26% 5% 26%;
}

.bmi_tittle {
    padding-top: 3%;
}

.bmi_calculator_part {
    display: flex;
    padding: 1% 5% 1% 10%;
}

.bmi_topic_name {
    font-size: 28px;
    font-weight: 900;
    line-height: 33.6px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}


table {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #444;
    padding: 12px;
    text-align: left;
}

th {
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 500;
}

td {
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}

.bmi_form_part {
    margin-left: 15%;
}

.bmi_form_part p {
    padding-right: 20%;
}

.text_input {
    width: 40%;
    height: 38px;
}

.sex_input,
.activity_select {
    height: 40px;
}

.sex_input {
    width: 42%;
}

.activity_select {
    width: 84%;
}

.input-group {
    margin-bottom: 15px;
}

input,
select {
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    color: rgba(255, 255, 255, 0.6);
    padding-left: 10px;
    font-size: 16px;
}

form button {
    margin-top: 3% !important;
}

/* ///-----BMI part end here------/// */
.gallery_part {
    background: rgba(255, 255, 255, 0.1);

}

.gallery_part {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-radius: 18px;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    margin-top: 5%;
}

.image-container {
    width: 320px;
    height: 270px;
    overflow: hidden;
    position: relative;

}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
    border-radius: 18px;
}

.text_overlay {
    position: absolute;
    left: 4%;
    bottom: 4%;
}

.employee_name {
    font-size: 20px;
    font-weight: 900;
    line-height: 24px;
    text-align: left;
    color: rgba(255, 255, 255, 1);

}

.employee_designation {
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    text-align: left;
    color: rgba(255, 255, 255, 0.5);

}

/* /// ----gallery part end here ----/// */

/* Media Queries for responsiveness */
@media screen and (max-width: 576px) {
    .content_part p {
        padding-right: 0;
    }

    .first_part {
        padding-left: 20px;
        padding-right: 20px;
        flex-direction: row;
    }

    .menu {
        display: none;
    }

    .join_club_part,
    .content_part {
        padding-left: 0;
        padding-right: 0;
    }

    .content_part {
        width: 90%;
    }

    h1,
    .shape {
        font-size: 2.5rem;
        line-height: 50px;
    }

    .button_part {
        display: flex;
        justify-content: left;
        margin: 30px 0 10px 0;
    }

    .all_button,
    .download_button {
        padding: 16px 30px;
    }

    .join_club_part {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .overlay {
        padding: 0 10px;
    }

    .overlay-top-right {
        top: 30%;
        right: 12%;
    }

    .overlay-bottom-left {
        bottom: 5%;
        left: 0;
    }

    /* ----- first part for mobile device end here ----- */
    .second_part {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .jogging_part {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;

    }

    .jogging_images {
        margin-bottom: 5%;
    }

    .tittle {
        font-size: 2rem;
    }

    .tittle_part p {
        padding-bottom: 12%;
        font-size: 14px;
    }

    .summery {
        font-size: 14px;
        padding-left: 12%;
        padding-right: 12%;
        padding-bottom: 12%;
    }

    .topic,
    .summery {
        margin: 0px;
    }

    /* ----- second part for mobile device end here ---- */
    .third_part {
        margin: 0 3% 0 3%;
        padding: 5%;
        display: grid;
        grid-template-columns: 1fr;
    }

    .run_content {
        margin-right: 0px;
    }

    .run_content_button {
        margin-top: 6%;
        padding-left: 38%;
        padding-right: 38%;

    }

    .run_image {
        width: 335px;
        height: 200px;
        border-radius: 18px;
    }

    /* ----- Third part for mobile device end here ---- */

    .bmi_content_part {
        margin: 0 4% 2% 4%;
    }

    .bmi_calculator_part {
        flex-direction: column;
    }

    .bmi_calculator_part {
        padding: 1% 10% 1% 5%;
    }

    .bmi_form_part {
        margin-left: 2%;
    }

    .bmi_topic_name {
        font-size: 20px;
    }

    input,
    select {
        font-size: 14px;
    }

    .text_input {
        width: 45%;
    }

    .sex_input {
        width: 48.5%;
    }

    .activity_select {
        width: 98%;
    }

    form button {
        padding-right: 18% !important;
        padding-left: 18% !important;
    }

    /* ---BMI part end here ---- */
    .gallery_part {
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        padding: 35px;
    }

    .gallery_section {
        margin-left: 4%;
        margin-right: 4%;
    }

    /* ///----gallery part end here ----/// */

}